{
    "parserOptions": {
        "ecmaVersion": 2019,
        "sourceType": "module"
    },
    "env": {
        "es6": true,
        "browser": true
    },
    "plugins": [
        "svelte3"
    ],
    "overrides": [
        {
            "files": ["**/*.svelte"],
            "processor": "svelte3/svelte3"
        }
    ],
    "extends": "airbnb-base",
    "rules": {
        "no-tabs": 0,
        "indent": [2, "tab", { "SwitchCase": 1, "VariableDeclarator": 1 }],
        "arrow-body-style": 0,
        "comma-dangle": 0,
        "import-extensions": 0,
        "arrow-parens": [2, "as-needed"],
        "space-before-function-paren": 0,
        "import/no-mutable-exports": 0,
        "import/prefer-default-export": 0,
        "object-curly-newline": ["error", { "consistent": true }],
        "import/first": 0,
        "import/extensions": 0,
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
        "no-underscore-dangle": 0,
        "camelcase": 0,
				"max-len": 0,
				"no-console": 0
    }
}
